body {
	font-size:16px;
}


ul#colors {
	display:block;
}

ul#sidenav {
    top:4em;
}


.min {
	display:block;
}

.min.in {
    display:none;
}

.max {
	display:none;
}

table tr td {
	background:none;
}